body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
.font-azeret{
    font-family: 'Azeret Mono', monospace;
}
.font-regular{
    font-weight: 400;
}
.font-bold{
    font-weight: 700;
}
.text-decoration-none{
    text-decoration: none;
}
.link-hover-light{
    text-decoration: none;
    color: $light;
    &:hover{
        color: $primary;
    }
}
.outline-hover-primary{
    border: 1px solid transparent;
    &:hover{
        border: 1px solid $primary;
    }
}
.title-border-light {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        margin-top: 16px;
        top: 100%;
        left: 0;
        background: $light;
        width: 50px;
        height: 3px;
    }
    @include md{
        &::after {
            content: "";
            position: absolute;
            margin-top: 16px;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            background: $light;
            width: 50px;
            height: 3px;
        }
    }
}

.title-border-light:hover {
    &::after {
        background: $primary;
        width: 70px;
    }
}
.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
        border-top: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-top-left-radius: 10px;
    }
    &-topRight {
        border-top: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-top-right-radius: 10px;
    }
    &-bottomLeft {
        border-bottom: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-bottom-left-radius: 10px;
    }
    &-bottomRight {
        border-bottom: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-bottom-right-radius: 10px;
    }
}
.card:hover {
    .squareRounded {
        display: block;
    }
}
.card-img-project {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}