<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="sticky-top">
      <!-- 調整 -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark-lighter">
        <div class="container">
          <h1 class="m-0"><a class="navbar-brand logo m-0" href="#">Navbar</a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons-outlined gradient-text-custom">
              drag_handle
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-lg-0 fs-7 p-0">
              <li class="nav-item mt-5 my-md-0 text-center">
                <a class="nav-link px-0 me-0 me-lg-8" aria-current="page" href="./index.html">首頁</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link px-0 me-0 me-lg-8" href="./class.html">課程介紹</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link px-0" href="#">
                  <span class="material-icons nav-icon align-top me-1">
                    account_circle
                  </span>
                  登入
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="footer">
      Coding Home © 2022 All Rights Reserved
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>